.idea
*.pyc
/**/*.pyc
.project
.pydevproject
*.bak
*.log*
.settings
migrations/
log/
/**/*.pid
workspace.xml
aa.txt

db.sqlite3
testutils/
test.py
yijiao_main/runtest.sh
yijiao_main/.coveragerc
yijiao_main/.coverage
htmlcov/
