{% load staticfiles %}
{% block extra_js %}

{% endblock %}

<div id="auth_first_check" class="bs-modal-dialog checkout-auth-modal">
    <div class="bs-modal-content">
      <div class="bs-modal-header with-underline" style="margin-bottom:25px;">
        <h4 class="bs-modal-title">用户手机验证</h4>
      </div>
      <div class="bs-modal-body">
        <p class="ui-alert warning" style="margin-top:-20px"><i class="icon-warning"></i>您的手机首次在此电脑下单，请先验证手机号码。</p>
        <h5 class="checkout-auth-title checkout_auth_title">验证码已发送至<span id="auth_tel"></span></h5>
        <h5><span id="errpane" style="color:red;"></span></h5>
        <div class="group">
          <div class="checkout-auth-fillform">
            <input id="vcode_input" type="text" maxlength="6" placeholder="请输入短信验证码" style="width:100px;">
            <a id="resend" class="checkout-auth-btn btn-send vcode_send" role="button" style="border:1px solid;">重新发送<span id="countdown"></span></a>
            <!-- input type="button" id="resend">重新发送<span id="countdown"></span></input-->
          </div>
          <a id="check_auth" class="ui-btn btn-submit checkout-auth-btn vcode_confirm" role="button" style="background:#fff28e;border:1px solid;">提交验证</a>
        </div>
      </div>
    </div>
</div>