{% extends "pages/page.html" %}
{% load static mezzanine_tags i18n pages_tags block_tags %}
{% load mytheme %}
{% block extra_css %}
<link rel="stylesheet" href="{% static "css/wni.css" %}" >
{% endblock %}

{% block main %} 

<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        
                        <ol class="carousel-indicators hidden-xs">
                        {% for slide in page.homepage.slides.all %}
                        <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"></li>
                            {% comment %}
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            {% endcomment %}
                        {% endfor %}
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" style="height:400px;">
                            
                            {% for slide in page.homepage.slides.all %}
                            <div class="item {% if forloop.first %}active{% endif %}">
                                <img class="img-responsive img-full" src="{{MEDIA_URL }}{{ slide.image }}"  alt="" style="width:100%;" >
                                <!-- img class="img-responsive img-full" src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"  alt=""-->
                            </div>
                            {% endfor %}
                            {% comment %}
                            <div class="item active">
                                <img class="img-responsive img-full" src={% static "img/slide-1.jpg" %} alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src={% static "img/slide-2.jpg" %} alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src={% static "img/slide-3.jpg" %} alt="">
                            </div>
                            {% endcomment %}
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    
                </div>
            </div>
</div>

{% comment %}
{% if page.homepage.slides.all %}
<!--slider-->
<div id="main_slider">
    <div class="camera_wrap" id="camera_wrap_1">
        {% for slide in page.homepage.slides.all %}
        <div data-src="{{ MEDIA_URL }}{% thumbnail slide.image 1920 690 %}"></div>
        {% endfor %}                                       
    </div><!-- #camera_wrap_1 -->
    <div class="clear"></div>   
</div>        
<!--//slider-->
{% endif %}
{% endcomment %}
{% comment %}
{% endcomment %}
<div style="clear:both"></div>
<br/>
{% comment %}
{% editable page.homepage.heading page.homepage.subheading %}
{{ page.homepage.heading }}
<span>{{ page.homepage.subheading }}</span>
{% endeditable %}
{% endcomment %}

{% rec_goods %}
<div><!-- recommanded goods -->

</div>
<div><!-- Recent Posts -->
{% load blog_tags keyword_tags i18n %}
{% blog_recent_posts 6 as recent_posts %}
{% if recent_posts %}
<div id="act1" style="width:45%;float:left;">
<img src={% static "img/act1.png" %} alt="最新活动" style="width:100%;">
</div>
<div id="act2" style="width:45%;float:right;">
<!-- h2>{% trans "Recent Posts" %}</h2-->
<h2 style="font-weight:bold;">{% trans "最新活动" %}</h>
<a href="/blog" style="float:right;font-size:20px;color:#333333;">{% trans "更多  >>>" %}</a>
{% for recent_post in recent_posts %}
<div style="overflow:auto;">
<a href="{{ recent_post.get_absolute_url }}" style="font-size:20px;color:#333333;"
    >{{ recent_post.title }}</a>
{% comment %}
    <h4>{{ recent_post.publish_date|timesince }} {% trans "之前" %}</h4>
<div class="recent-summary">
{% if settings.BLOG_USE_FEATURED_IMAGE and recent_post.featured_image %}
{% block blog_post_list_post_featured_image %}
<a href="{{ recent_post.get_absolute_url }}">
    <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail recent_post.featured_image 90 90 %}">
</a>
{% endblock %}
{% endif %}
{{ recent_post.description_from_content|safe }}

</div><!-- /recent-summary -->
{% endcomment %}
</div>
<hr style="margin:0;"/>
{% endfor %}
</div>
{% endif %}
</div><!-- /Recent Posts -->
{% endblock %}