{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="{% static 'partner/css/partner.css' %}" rel="stylesheet" type="text/css">
</head>
<div id="partner" class="partner">
<div class="partnermain">
<img src="{% static 'partner/images/title.png' %}">
<br>
<div class="col-xs-12 col-sm-4 col-md-4">
    <!-- a class="thumbnail" rel="#image-{{ image.id }}" -->
    <img class="img-responsive partimg" src="{% static 'partner/images/1.png' %}" >
    <!-- /a -->
    <br>
    <div>
    <div class='ver'>
              锐<br>仔
    </div>
    <div class="innertext">
             锐仔蛋糕创始人.
             原金陵饭店西点主厨，超十年专业烘焙经验.
             曾为获得独家降糖配方，远赴法国进修半年
    </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <!-- a class="thumbnail" rel="#image-{{ image.id }}" -->
    <img class="img-responsive partimg" src="{% static 'partner/images/1.png' %}" >
    <!-- /a -->
    <br>
    <div>
    <div class='ver'>
              锐<br>仔
    </div>
    <div class="innertext">
             为了顺利办好一个主题活动。上午五点开始忙碌.平台所有美食都需要提前预定，当天制作，只为保证新鲜健康好吃
    </div>
    </div>
</div>
<div class="col-xs-12 col-sm-4 col-md-4">
    <!-- a class="thumbnail" rel="#image-{{ image.id }}" -->
    <img class="img-responsive partimg" src="{% static 'partner/images/1.png' %}" >
    <!-- /a -->
    <br>
    <div>
    <div class='ver'>
              锐<br>仔
    </div>
    <div class="innertext">
             配备专车，只为准时送达.所有的物流员经过严格筛选和培训，持证上岗.我们坚持，物流小哥的颜值和气质要与美食相配
    </div>
    </div>
</div>
</div>
</div>
</html>