{% load pages_tags mezzanine_tags i18n future staticfiles shop_tags %}
<div style="margin-top:40px;">
<div id="recheader">
<h2 style="font-weight:bold;color:#5a362a;">{% trans "热卖商品" %}</h>
<a href="/shop/recgoods" style="float:right;font-size:20px;color:#333333;">{% trans "更多  >>>" %}</a>
</div>
<hr style="width:100%;" />
<div class="row product-list">
{% for product in rec_goods %}
    <div class="col-xs-6 col-sm-4 col-lg-3 product-thumb">
    <div class="placeholder" style="height:15px;background-color:#fdcf43;"></div>
    <a href="{{ product.get_absolute_url }}" class="thumbnail">
        {% if product.image %}
        <img src="{{ MEDIA_URL }}{% thumbnail product.image 148 148 %}">
        {% else %}
        <div class="placeholder"></div>
        {% endif %}
        <div class="caption">
        <h6>{{ product }}</h6>
        <div class="price-info">
        {% if product.has_price %}
            {% if product.on_sale %}
            <span class="old-price">{{ product.unit_price|currency }}</span>
            {% trans "On sale:" %}
            {% endif %}
            <span class="price">{{ product.price|currency }}</span>
            <br />       
               已售: {{ product.saled }}次
            <br />
               库存: <span>{{ product.get_storage  }}</span>
        {% else %}
        <br />
            <span class="coming-soon">{% trans "Coming soon" %}</span>
            <div style="height:15px;"></div>
        {% endif %}
        </div>
        </div>
    </a>
    </div>
{% endfor %}
</div>

</div>