{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="{% static 'tese/css/tese.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{% static 'tese/js/tese.js' %}"></script>
</head>
<div id="join"></div>
<div class="tese">
<div class="tesemain">
<img src="{% static 'tese/images/title.png' %}">
<div>
<div class='join'>加入我们</div>
<img src="{% static 'img/kefu.jpg' %}" style="margin:0;" class="kefu">
</div>
<div class="tesetext">
陌生城市，家乡味道，思乡情之寄托；<br>
童年美食，若隐若现，妈妈的味道，娓娓记忆之流转；<br>
米其林大厨，民间食神，垂涎欲滴之绝妙；<br>
<br>
<br>
亲子，派对，校园，企业，可以无处不在，更可以呼之即来；<br>
<br>
这就是我们所推崇：我们不生产美食，我们但求以匠人之心，提供卓越的美食极致体验服务。我们希望呈现在您面前的不再是一份<br>冰冷的食物，而是有温度有故事的美食。在部落里每一个卖家都是美食家，他们为您带来独家秘制美食的同时，这些美食的背后都
<br>有一段关于他们自己的故事，期待与您分享。<br>
<br>
e食部落聚拢对美食有偏执狂般追求的食客们，我们将为您量身定做专属于您的美食服务，提供专业意见，体验高端品质服务，只<br>有您想不到，没有我们做不到。<br>
</div>
<img src="{% static 'tese/images/tese.png' %}" style="width:100%;">
</div>
</div>
</html>